.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-image: url('/images/BG-Texture.png');
}
.container-overflow {
  overflow: hidden;
}
.white {
  background-color: white;
}
.white-text {
  color: white;
}
.fit {
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 66.64%;
}
.wide {
  width: 100%;
}
.wide-img {
  width: 100%;
  height: 100%;
}
.text {
  margin-left: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-right: 40%;
  color: white;
  float: left;
}
.img-clock {
  width: 40%;
  position: absolute;
  right: 0px;
  z-index: 1;
}
img.haircut {
  width: 43%;
}
img.haircut-right {
  position: absolute;
  width: 57%;
}
.third {
  width: 33%;
  display: inline-block;
  padding: 4%;
}
.third img {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.telescope {
  width: 50%;
}
.middle {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.relative {
  position: relative;
}
.middle-panel {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 10%;
  padding-right: 5%;
  position: absolute;
  top: 0px;
}
.left-panel {
  float: left;
  width: 48%;
}
.right-panel {
  width: 48%;
  float: right;
}
.left-panel {
  padding-right: 2%;
}
.up-panel {
  padding-bottom: 2%;
}
.left-image {
  width: 50%;
}
img.hover:hover {
  filter: sepia(50%);
}
img.hover {
  filter: none;
}
.rocks {
  background-image: url('/images/shutterstock_-12.png');
}
.strip {
  padding-top: 10%;
  padding-bottom: 10%;
}
.mac {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 10%;
  top: 0px;
}
.mac img {
  width: 100%;
}
.circle-left {
  background-image: url('/images/Group 3230.png');
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  overflow: hidden;
  width: 50%;
  padding-bottom: 37%;
}
.inner-div {
  padding: 20px;
}
.video-container {
  top: 0px;
  position: absolute;
  width: 66%;
  height: 56%;
  top: 10%;
  left: 17%;
}

.play {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 20% !important;
  filter: invert(50%);
}
.play:hover {
  filter: invert(1);
}
.slick-dots {
  bottom: 5%;
}
.slick-dots li button:before {
  font-size: 20px;
  line-height: 20px;
}
.header {
  background-color: white;
  padding-bottom: 4%;
  position: relative;
}
.line {
  bottom: 0px;
  position: absolute;
}

.menu-container {
  position: absolute;
  width: 80%;
  top: 25%;
  z-index: 1;
  left: 10%;
  background-image: url('/images/BG-Texture.png');
}

.menu-container .white-text:hover {
  color: #bb9a73;
}
.hamburger {
  width: 4%;
  left: 5%;
  position: relative;
  padding-bottom: 2%;
}
.hamburger:hover {
  filter: sepia(100%);
}
.logo {
  width: 25%;
  left: 30%;
  position: relative;
  padding: 1%;
}
.line-menu {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.line-menu-up {
  top: 100%;
}
.line-menu-down {
  display: none;
}
.page-item {
  padding: 5%;
  padding-left: 10%;
}
